# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env
.env.*


# FAISS index
ml-service/vector_store/index/

# ======================
# .NET
# ======================
bin/
obj/
*.user
*.suo

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# Logs
# ======================
*.log

# ======================
# OS
# ======================
.DS_Store
Thumbs.db